html {
  font-size: 10px; 
  font-family: 'EB Garamond', serif;
}
:root {
  --color1: rgb(164, 7, 77);
  --color2: rgb(235, 239, 246);
  --color3: rgba(26, 36, 52, 1);
  --color4: rgba(244, 244, 244, 1);
}
.grid1 {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}
.s1-grid1 {
  padding: 1rem;
}
.s1-grid1 h1 {
  font-size: 6rem;
}
.s1-grid1 p {
  font-size: 2rem;
  font-family: "Inter", sans-serif;

}
.cuadrito-2 {
  width: 70%;
  height: 10rem;
  border-left: 0.4rem solid var(--color1);
}
.inf {
  margin-left: 3rem;
  font-family: "Inter", sans-serif;

}

.inf-2 {
  margin-left: 3rem;
  display: flex;
  gap: -2rem;
  position: relative;

}
.circulito {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid white;
  border-radius: 5rem;
}
.circulito img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}
.circulito-1 {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid white;
  position: absolute;
  left: 4rem;
  border-radius: 5rem;
}
.circulito-1 img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}
.circulito-2 {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid white;
  position: absolute;
  left: 8rem;
  border-radius: 5rem;
}
.circulito-2 img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}
.circulito-3 {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid white;
  position: absolute;
  left: 12rem;
  border-radius: 5rem;
}
.circulito-3 img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}
.circulito-4 {
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid white;
  position: absolute;
  left: 16rem;
  background-color: var(--color1);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.options {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 2rem;
}
.cuadro-1 {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
}
.cuadro-2 {
  width: 100%;
  height: 5.9rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--color1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.4rem;
}
.t-trusted-by {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.trusted-by {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1rem
}
.cuadro-3 {
  width: 15rem;
  height: 5rem;
  border: 0.2rem solid var(--color2);
  border-radius: 1rem;
}
.cuadro-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}


.s2-grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cuadro-4 {
  width: 50%;
  height: 80%;
  border-radius: 2rem;
}
.cuadro-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.cuadrito-5 {
  position: absolute;
  top: 10rem;
  left: 1rem;
  height: 15rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
}
.c-5des {
  display: grid;
  grid-template-columns: 6rem 1fr;

}
.c-5-1{
  display: flex;
  justify-content: center;
}
.c-5circulo {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid white;
  border-radius: 5rem;
}
.c-5circulo img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}

.c-5-2 {
  padding-left: 1rem;
}
.c-5-2 h1 {
  margin-top: -0.05rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.c-5-2 h2 {
  margin-top: -1rem;
  font-weight: 300;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.why-choose-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Inter", sans-serif;
}
.why-choose-us h2{
  font-weight: 400;
  font-size: 2.4rem;
  font-family: "Inter", sans-serif; 
}
.linea-wcu {
  width: 5.4rem;
  height: 0.3rem;
  background-color: var(--color1);
}
.BLE {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}
.BLE h1 {
  font-weight: 600;
  font-size: 3.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.tabla1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
  padding: 5rem;
}
.c-img-1 {
  width: 6rem;
  height: 6rem;
}
.c-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cuadro-5{
  padding: 1rem;
}
.cuadro-5 h1{
  font-size: 1.5rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
}
.cuadro-5 h3 {   
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.learnmore {
  display: flex;
  align-items: center;
}
.about-us {
  padding: 1rem;
}
.g-about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.im-about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-about{
  width: 90%;
  height: 90%;
  border-radius: 1rem;
}
.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

}
.inf-about {
  padding: 1rem;
}
.about-inf1 {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-family: "Inter", sans-serif;
}
.about-inf1 h2{
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}
.linea-abu {
  width: 5.4rem;
  height: 0.3rem;
  background-color: var(--color1);
}
.E-lrn {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -4rem;
  font-size: 1.3rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
}
.E-lrn p{
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.cuadrito-3 {
  width: 20rem;
  height: 5rem;
  background-color: var(--color1);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.tabla2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
  padding: 5rem;
}
.cuadro-6{
  padding: 1rem;
}
.c-6-t {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
}
.h1-b{
  color: black;
}
.h1-r {
  color: var(--color1);
}
.cuadro-6 p {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.oc-cuadro{
  display: flex;
  justify-content: center;
}
.opt-ourclass {
  margin-top: 3rem;
  width: 60rem;
  height: 5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  gap: 5rem;
  background-color: var(--color2);
}
.iu {
  width: 20rem;
  height: 4rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  background-color: white; 
}
.W-D{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;  
}
.tabla3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
  padding: 5rem;
}
.cuadro-7{
  padding: 1rem;
}

.cuadro-7 h1 {
  font-size: 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;  
}

.c-7 {
  width: 1fr;
  height: 1fr;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.c-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.L-W {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.lessons {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.week {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.P-S {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.price {
  margin-top: -3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2.2rem;
  font-family: "Inter", sans-serif; 
}
.star {
  margin-top: -3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2.2rem;
  font-family: "Inter", sans-serif; 
}
.btn1 {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 10rem;
}
.cuadrito-4 {
  width: 30.7rem;
  height: 7.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  color: white;
}
.cuadrito-4 p {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Inter", sans-serif; 
}
.tabla4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid5 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
  padding: 5rem;
}
.cuadro-8{
  padding: 1rem;
}
.c-8des {
  display: grid;
  grid-template-columns: 10rem 1fr;
}
.c-8-1{
  display: flex;
  justify-content: center;
}
.c-8circulo {
  width: 9rem;
  height: 9rem;
  border: 0.3rem solid white;
  border-radius: 5rem;
}
.c-8circulo img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover;
}

.c-8-2 {
  padding-left: 1rem;
}
.c-8-2 h2 {
  margin-top: -1rem;
}
.star-2 {
  margin-top: -2rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
  font-family: "Inter", sans-serif; 
}

.c-8inf p {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.tabla5 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid6 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
  padding: 5rem;
}
.cuadro-9{
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--color2);
}
.c-9img {
  display: flex;
  justify-content: center;
}
.img-blog {
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
}
.img-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.c-9grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.person-1 {
  margin-top: -1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.date-1 {
  margin-top: -1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.c9-t h1{
  font-weight: 600;
  font-size: 2.4rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
}
.c9RM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif; 
}
.c9RM p {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Inter", sans-serif; 
}
.cuadro-star {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
.cuadro-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-red {
  height: 18rem;
  width: 98%;
  background-color: var(--color1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
} 
.lr{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lr-text {
  color: white;
  height: 10rem;
  width: 55rem;
}
.lr-text h1{
  font-size: 3rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.lr-text h2 {
  font-size: 3rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: -2rem;
}
.lr-cuadro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuadrito-6 {
  margin-top: 1rem;
  margin-left: 5rem;
  height: 8rem;
  width: 45rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.800);
  display: grid;
  grid-template-columns: 28rem 1fr;
}
.c-6-1 {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}
.c-6-1 h2{
  font-weight: 400;
}
.c-6-2 {
  padding: 0.8rem;
}
.cuadrito-6-2{
  height: 6.2rem;
  width: 15.2rem;
  border-radius: 1rem;
  background-color: var(--color3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.last-black {
  height: 35rem;
  width: 98%;
  background-color: var(--color3);
  display: grid;
  grid-template-columns: 45rem 1fr;
  padding: 1%;
}
.lb-1 {
  padding: 5rem;
}
.lb-1-1{
  display: flex;
  align-items: center;
  gap: 1rem;
} 
.lb-1-1 h1 {
  font-size: 2.7rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
  color: white;
}
.logo-2 {
  width: 4.2rem;
  height: 3.8rem;
  }
.logo-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lb-1-2 {
  color: var(--color4);
  font-weight: 400;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}
.lb-2 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabla6 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.grid7 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 7rem;
  padding: 5rem;
}
.cuadro-10{
  height: 20rem;
  width: 20rem;
  color: var(--color2);
}
.cuadro-10 h1 {
  font-size: 2.7rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
  color: white;
}
.lista {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: var(--color4);
}
.cuadro-11{
  height: 20rem;
  width: 25rem;
  color: var(--color2);
}
.cuadro-11 h1 {
  font-size: 2.7rem;
  font-family: "Plus Jakarta Sans", sans-serif; 
  color: white;
}

.redes-s {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.8rem;
}
.r-s1 {
  height: 4rem;
  width: 4rem;
  background-color: black;
}
.r-s1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}